body {
    font-family: Arial, sans-serif;
    margin: 10px;
    background-color: #ebf5c8;
}

.container {
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #f2eeee;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

.resume {
    background: #ffffff;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 10px;
}

.resume h3 {
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
}

.resume p {
    margin: 40px 0;
}

.resume .section {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 6px;
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
}

#editButton {
    background-color: #04290c;
}

#editButton:hover {
    background-color: #b8d3be;
}

